<h1>New Movie Form </h1>

<h4><%= @errors %></h4>

<form action="/movies" method="POST">
  <label for="title">Title
    <input type="text" name="title" id="title">
  </label>
  

  <label for="release_year">Release Year
    <input type="text" name="release_year" id="release_year">
  </label>
  

  <label for="runtime">Runtime
    <input type="text" name="runtime" id="runtime">
  </label>
  
  <input type="submit" value="Submit Movie">
</form>