<h1>New Movie Form </h1>

<% if !@error.nil? %>
  <h5>
    <%= @error %>
  </h5>
  <% end %>

<form action="/movies" method="post">
  <label for="title"> Title 
    <input type="text" id="title" name="title">
  </label>

  <label for="release_year"> Release Year
    <input type="text" id="release_year" name="release_year">
  </label>

  <label for="runtime"> Runtime 
    <input type="text" id="runtime" name="runtime">
  </label>

  <input type="submit" value="Add Movie">
</form>

<a href="/movies">Go to Movies Index</a>
